@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Roboto:400,700,900');

$black: #1D2120;
$grey: #3A4145;
$lightGrey: #f5f8fa;
$yellow: #F6AF37;

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $yellow;
}

body {
  font-size: 18px;
  letter-spacing: 0.01rem;
  background-color: $yellow;
  color: $black;
}

#container,
.app {
  width: 100%;
  height: 100%;
}

p {
  font-family: 'Merriweather', serif;
  font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
  font-weight: 300;
  color: $black;
}

a {
  color: #4A4A4A;
  transition: color 0.3s ease;
  text-decoration: underline;
}

a:hover {
  color: black;
}

h1,h2,h3 {
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.085em;
  font-weight: 900;
}

h2, h3 {
  font-size: 26px;
  margin-bottom: 18px;
  letter-spacing: 0.04em;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  min-width: 500px;
  background-color: transparent;
}

.header {
  padding: 60px 0 150px 0;
  text-align: center;
  position: relative;
  z-index: 1000;
  &__logo {
    display: inline-block;
    margin: auto;
    position: relative;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #1D2120;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-image: url('../assets/images/pull_up_back__0.jpg');
      background-size: cover;
      background-position: center center;
      opacity: 0.3;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $yellow;
      mix-blend-mode: multiply;
    }
  }
}

.logged-in {
  position: fixed;
  top: 30px;
  right: 15px;
  z-index: 7000;
  &__image {
    width: 60px;
    height: 60px;
    background-color: $black;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2), 0px 0px 15px rgba(0,0,0,0.2);
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $yellow;
      mix-blend-mode: multiply;
      border-radius: 50%;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  letter-spacing: 0.03em;
  font-weight: 400;
  padding: 30px;
  margin-top: 60px;
  color: $yellow;
  background-color: $black;
  a {
    text-decoration: none;
    font-weight: 900;
    color: $yellow;
    &:hover {
      color: $yellow;
      text-decoration: underline;
      text-decoration-skip: ink;
    }
  }
}

.content {
  flex: 1;
  width: 90%;
  max-width: 1600px;
  margin: -100px auto 0 auto;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  z-index: 2000;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2), 0px 0px 25px rgba(0,0,0,0.1);
  display: block;
}
